*{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'NouvelleVague';  /* Titres */
    src: url(assets/fonts/nouvelle_vague_final.woff);
}

@font-face{
    font-family: 'Akira';  /* Bold Text */
    src: url(assets/fonts/AkiraExpanded-SuperBold.woff);
}

:root { 
    --bg-color: #C3C0FF ; 
    --color-B: #FFFFFF;
    --color-N: #000000;
} 

body{
    background-color: var(--bg-color);
    font-family: 'Akira';
}

/* MENU */

.menuContainer{
    position: fixed;
    /* background-color: var(--bg-color); */
    z-index: 50;
}


.menuList{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10vh;
    z-index: 30;
}

.menuList a {
    text-decoration: none; 
    color: var(--color-N) ;
    /* transition-duration: 500ms;
    transition-property: var(--color-B); */
    margin-left: 10vw;
    /* background-color: var(--bg-color); */
    font-size: 1.5vw;
}

.menuList a:hover{
    color: var(--color-B);
}

.menuActive a{
    font-family: 'NouvelleVague';
    color: var(--color-B) !important;
    font-size: 2vw;
    text-transform: uppercase;
}

/* HOME */

.presHome{
    position: absolute;
    left: 20vw;
    top:6vh;
    display: flex;
    flex-direction: row;
    margin-top: 22vh;
    justify-content: center;
}

.Eva{
    display: block;
    font-family: 'NouvelleVague';
    text-transform: uppercase;
    font-size: 7vw;
    margin-left: -16vw;
    z-index: 1 !important;
    padding-top: -2vh;
    line-height: 5vw;
}

.EvaMobile{
    display: none;
}

.Evap1{
    letter-spacing: 1vw;
    color: #000000;
}

.Evap2{
    letter-spacing: 0.8vw;
    color: #000000;
}

.EvaVanDerErve h1 {
    padding-top: -4.5vh;
}

span{
    color: var(--color-B);
    z-index: 25;
}

.HomeTextImg{
    width: 35vw;
    z-index: 0 !important;
    margin-left: 20vw;
}

.HomeTextImg .Text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HomeTextImg .Text h2{
    font-size: 0.85vw;
}

.HomeTextImg .img {
    background-image: url(assets/imgs/Deco/photoMenu.JPG);
    width: 35vw;
    height: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* PHOTO - Design - Vidéo */

.partDes h1{
    font-family: 'NouvelleVague';
    text-transform: uppercase;
    line-height: 7vh;
}

.EvaContact{
    width: 13vw;
}

.container{
    margin-top: 23vh;
    margin-bottom: 13vh;
}

.partDes{
    position: fixed;
    margin-top: 15%;
    margin-left: 15%;
}

.partDes h1{
    font-size: 5vw;
}

.Description{
    display: flex;
    flex-direction: row;
}

.Description p {
    margin-left: -5vw;
    font-size: normal;
    margin-top: 12vh;
}

.work{
    margin-left: 55%;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.work img {
    width: 20vw;
    margin-right: 5vw;
}

.work p {
    margin-top: 20vh;
}

/* Contact  */

.imgContact{
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: -2;
    margin-left: 60%;
}

.textContact{
    margin-top: 35vh;
    width: 58vw;
}

.titreContact{
    font-family: 'NouvelleVague';
    text-transform: uppercase;
    font-size: 5vw;
}

.textContact .p1{
    font-size: x-large;
}

.textContact p{
    font-size: small;
    float: right;
}

.row{
    display: flex;
    flex-direction: row;
    float: right;
}

.row div {
    margin: 1.5vw;
}

.textContact h1{
    margin-top: 10vh;
    float: right;
    font-size: 7vw;
    margin-right: -12vw;
}

.textContact a {
    text-decoration: none;
    color: var(--color-N);
}

.textContact img{
    width: 3vw;
    height: 3vw;
}

.linksContact img{
    margin-left: 25%;
}

.cvCursor{
    cursor: pointer;
}

/* Work */

.partWork{
    text-transform: uppercase;
    font-family: 'NouvelleVague';
    position: static;
   /* opacity: 70%; */
    font-size: 5vw;
}

.AAAAA{
    width: 50%;
}

.containerWork{
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 20vh;
}

.DescriptionWork{
    position: fixed;
    top: 40vh;
    left: 10vw;
    width: 30vw;
}

.factori{
    top: 30vh;
}

.DescriptionWork h1{
    position: absolute;
    top: 35vh;
    /* margin-top: 25vh; */
}

.DescriptionWork p{
    /* float: right; */
    text-align: right;
}

.contenu1 img {
    width: 20vw;
    float: right;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.contenu2{
    margin-top: 20vh;
}

.contenu2 img {
    width: 20vw;
    margin-bottom: 1vh;
}

.imgDesign{
    margin-left: 35vw;
    margin-bottom: 5vh;
}

.imgDesign img {
    width: 50vw;
}

.imgD2{
    margin-top: -2vh;
}

/* Vidéo */

.work .video{
    margin-top: 10vh;
}

.AAAAA{
    width: 35%;
}

iframe{
    margin-top: 7vh;
}

.AAAAAA{
    width: 50%;
}

.AAAAAAAAA{
    width: 40vw;
}

.mobileweat{
    display: none;
}

@media screen and (max-width: 850px){

    /* HOME */
    .menuList{
        flex-direction: column;
        margin-top: 0;
        height: 100vh;
        justify-content: space-around;
    }
    .menuList a {
        margin-left: 2vw;
        font-size: 3vw;
    }
    .menuList .menuActive{
        font-size: 3.5vw;
    }

    .Eva {
        display: none;
    }

    .EvaMobile{
        display: block;
        font-family: 'NouvelleVague';
        text-transform: uppercase;
        font-size: 7vw;
        margin-left: 25vw;
        margin-top: 3vh;
        position: fixed;
    }

    .HomeTextImg{
        margin-left: 9vw;
        margin-top: -10vh;
    }

    .HomeTextImg .Text{
        width: 70vw;
    }

    .HomeTextImg .Text h2{
        font-size: 2vw;
    }

    .HomeTextImg .img{
        width: 70vw;
        height: 70vh;
        opacity: 0.4;
    }

    /* Contact */

    .titreContact{
        display: none;
    }

    .textContact{
        margin-top: 5vh;
        margin-left: 25vw;
    }

    .textContact .p1{
        display: none;
    }

    .imgContact{
        width: 100vw;
        height: 80vh;
        margin-left: 0;
        margin-top: 20vh;
    }

    .row{
        flex-direction: column;
        float: none;
        margin-top: 15vh;
        margin-left: 20vw;
    }

    .row img {
        width: 10vw;
        height: 10vw;
        margin-top: 3vh;
    }


    /*Pages thematiques */

    .partDes h1 {
        display: none;
    }

    .Description{
        display: none;
    }

    .container{
        margin-top: 15vh;
    }

    .work{
        margin-top: 0;
        margin-left: 35vw;
    }

    .work p{
        margin-top: 10%;
        font-size: 3vw;
    }

    .video img{
        width: 40vw;
    }

    .work .video{
        margin-top: 2.3vh;
    }

    /*pages work*/

    .DescriptionWork .partWork{
        display: none;
    }

    .containerWork{
        margin-left: 25vw;
    }

    .AAAAAAAAA{
        display: none;
    }

    .DescriptionWork{
        position: fixed;
        top: 10vh;
        left: 25vw;
        width: 70vw;
    }

    .DescriptionWork p{
        text-align: left;
        font-size: 3vw;
    }

    .containerWork{
        flex-direction: column;
    }

    .contenu1{
        width: 50vw;
        margin-top: 12vh;
    }

    .contenu1 img{
        width: 40vw;
    }

    .contenu2{
        width: 50vw;
        margin-top: 0;
    }

    .contenu2 img{
        width: 40vw;
        margin-left: 9vw;
    }

    .imgDesign{
        margin: 0;
        margin-top: 20vh;
    }

    .imgDesign img{
        width: 70vw;
    }

    iframe{
        margin-top: 20vh;
        width: 100%;
        height: 100%;
    }
}